PORT=7000
NODE_ENV=development
ADMIN_PASSWORD=your_pass
ADMIN_EMAIL=your_email
FRONTEND_URL=your_frontend_url
EMAIL_SENDER_SMTP_HOST=your_email_sender_smtp_host
EMAIL_SENDER_SMTP_PORT=
EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_FROM=
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_token
JWT_REFRESH_EXPIRES_IN=7d
